<div class="item item-text-wrap">
  <div class="directiveHeader clearfix">
    <h1 class="left"> <a ui-sref="feed.pledge({pledgename: pledgename})">#{{pledgename}}</a> </h1>
    <div class="left">
      <button ng-click="subscribePledge()" ng-disabled="hasSubscribed" class="button button-small button-positive right">
        Join
      </button>
    </div>
  </div>
  <pledge-post ng-repeat="post in feedPledgePosts" post="post" comments="comments" postNewComment="postNewComment" usercomment="usercomment" pledgename="pledgename"></pledge-post>
</div>

