<div class="item item-text-wrap">
  <div class="userHeader clearfix">
    <h1 class="left username"> <a class="standardLinkReversed" ui-sref="user.profile({username: username})">#{{pledgename}}</a> </h1>
    <div class="left follow">
      <button ng-if="!subscribed && loggedIn" ng-click="subscribePledge()" class="actionButton right">
        Join
      </button>
    </div>
  </div>
  <pledge-post ng-repeat="post in feedPledgePosts" post="post" comments="comments" postNewComment="postNewComment" usercomment="usercomment" pledgename="pledgename"/>
</div>
