<div class="feedOption block clearfix">
  <button class="feedOptionButton left active public" ng-click="getPublicFeedPosts()"><i class="fa fa-globe"></i> <span class="publicText">Public </span></button>
  <button class="feedOptionButton left private" ng-click="getPrivateFeedPosts()"><i class="fa fa-lock"></i> <span class="publicText">Private</span> </button>
  <a ui-sref="pledges" class="right directButton explorePledges">Explore Pledges</a>
</div>
<feed-pledge class="feedContainer clearfix" ng-repeat="post in feedPosts" logged-in="loggedIn" getcommentbox="getcommentbox" post="post"></feed-pledge>

