<div class="upload feedPledgeDirective">
  <div ng-show="!loadingPost">
    <div ng-if="hasError">
      <div class="error-message" ng-messages="hasError" role="alert">
        <div>{{ error }}</div>
      </div>
    </div>
    <div class="postTopBar clearfix">
      <h2 class="left block">Add a Post</h2>
    </div>
    <a class="standardLink minorLink" ui-sref="user.pledge.add">+ add a pledge</a>
    <div>
      <form name="addPostForm" class="addPostForm" id="addPostForm" novalidate>
        
        <!-- Pledgename -->
        <p class="formLabel">Pledge:</p>
        <select name="pledgename" ng-model="post.pledgename" ng-options="pledgename for pledgename in pledgenames" required>
        </select>

        <!-- Upload file -->
        <label class="post-upload block">
          <input type="file" class="post-file" id="user-post-add" name="file" ng-model="post.file" valid-file on-file-change="fileChanged" accept="image/*"></input>
          <i class="fa fa-camera fa-2x"></i>
          <span class="uploadText" ng-if="!(fileName)">
            Prove it! Upload an image.
          </span>
          <span ng-if="!!(fileName)">
            {{ fileName }}
          </span>
        </label>

        <!-- Post title -->
        <p class="formLabel">Post Title:</p>
        <input name="title" type="text" ng-model="post.title" placeholder="Post title" required />    
        <span ng-if="addPostForm.title.$dirty">
          <span class="validation-error" ng-show="addPostForm.title.$error.required">Must include a title for your post</span>
        </span>
        
        <!-- Post description -->
        <p class="formLabel">Description:</p>
        <textarea name="text" ng-model="post.text" rows="7" placeholder="Tell us a little bit about what you did"></textarea>
        
        <!-- Form submit -->
        <p class="formLabel">Prove it:</p>
        <label class="post-upload block">
          <input type="file" class="thumb" id="user-post-add" name="file" ng-model="post.file" valid-file on-file-change="fileChanged"></input>
          <i class="fa fa-camera fa-2x"></i>
          <span class="uploadText" ng-if="!(fileName)">
            Upload an image
          </span>
          <span ng-if="!!(fileName)">
            {{ fileName }}
          </span>
        </label>

        <!-- Form submit -->
        <button class="btn actionButton " ng-disabled="addPostForm.$invalid || !(fileName)" ng-click="addPost()">Post it!</button>
        <a class="standardLink" ui-sref="user.profile({username: post.username})">cancel</a>
      </form>

    </div>
  </div>
  <div class="loading" ng-show="loadingPost">
    <i class="fa fa-spinner fa-pulse fa-5x"></i>
    <div>loading...</div>
  </div>
</div>
