<div class="preview-post">
  <div ng-show="!loadingPost">
    <div class="prevImg">
      <img class="coverImg left" ng-src="{{aws_url}}"/>
    </div>
    <div class="postInfo left">
      <h2>{{title}}</h2>
      <h3>This is the right page</h3>
      <div class="pledgeText">{{text}}</div>
    </div>
    <button ui-sref="user.profile({username: username})" class="directButton">
      <i class="fa fa-check"></i> approve
    </button>
  </div>
  <div class="loading" ng-show="loadingPost">
      <i class="fa fa-spinner fa-pulse fa-5x"></i>
      <div>loading...</div>
  </div>
</div>
