<div class="entryForm signup">
    <h1 class="signup-title">Create an Account</h1>
    <form ng-submit="register(user)" name="signupForm">
      <p class="signupFormLabel">Username:</p>
      <input name="username" type="text" ng-model="user.username" placeholder="Username" ng-minlength="4" required>
      <p class="signupFormLabel">Password:</p>
      <input name="password" type="password" ng-model="user.password" placeholder="Password" ng-minlength="6" ng-pattern="passwordValidation" required>
      <button type="submit" class="actionButton" value="Submit">Sign Up</button>
    </form>

    <div ng-show='(signupForm.username.$dirty && submitted) && signupForm.username.$error.minlength'>
      <p class="formError signup-text">Username Must Be At Least 4 Characters</p>
    </div>
    <div ng-show='(signupForm.password.$dirty && submitted) && signupForm.password.$error.minlength'>
      <p class="formError signup-text">Password Must Be At Least 6 Characters And Contains Both A Number and A Capital Letter</p>
    </div>
    <a class="standardLink" ui-sref="login">Already have an account? Login</a>
</div>


