  <ion-tabs class="tabs-icon-top tabs-positive">

    <ion-tab title="News Feed" icon="icon ion-social-rss" href="#/tab/feed">
      <ion-nav-view name="tab-feed"></ion-nav-view>
    </ion-tab>
  
    <ion-tab title="Login" icon="icon ion-home" href="#/tab/login">
      <ion-nav-view name="tab-login"></ion-nav-view>
    </ion-tab>

    <ion-tab title="My Profile" icon="icon ion-ios-person" href="#/tab/user">
      <ion-nav-view name="tab-user"></ion-nav-view>
    </ion-tab>

    <ion-tab title="New Post" icon="icon ion-ios-plus" href="#/tab/user.post">
      <ion-nav-view name="tab-user.post"></ion-nav-view>
    </ion-tab>

  </ion-tabs>

<!--<ion-tabs class="tabs-icon-top">


  <ion-tab title="Dashboard" icon="icon ion-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>


  <ion-tab title="Friends" icon="icon ion-heart" href="#/tab/friends">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>


  <ion-tab title="Account" icon="icon ion-gear-b" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>-->