<div>
    <h3>Add a pledge</h3>

    <div>
      <form name="addPledgeForm" class="addPledgeForm" id="addPledgeForm" novalidate>

          #
          <input class="pledgename" name="pledgename" type="text" ng-model="pledge.pledgename" placeholder="pledgetitlehere" ng-pattern="pledgenameValidation" required/>

          <span ng-if="addPledgeForm.pledgename.$dirty">
            <span class="validation-error" ng-show="addPledgeForm.pledgename.$error.required">Must include a pledge name</span>
            <span class="validation-error" ng-show="addPledgeForm.pledgename.$error.pattern">It's a hashtag! Keep it short, remove white spaces and symbols.</span>
          </span>

          <br />

          <textarea name="mission" ng-model="pledge.mission" placeholder="What is your mission..." required></textarea>

          <span ng-if="addPledgeForm.mission.$dirty">
            <span class="validation-error" ng-show="addPledgeForm.mission.$error.required">Must include a mission homie</span>
          </span>

          <br />

          <button class="btn" ng-click="cancelPledge()">cancel</button>
          <button class="btn" ng-disabled="addPledgeForm.$invalid" ng-click="addPledge()">pledge!</button>

        </form>
    </div>
</div>
