<div class="upload feedPledgeDirective">
  <div class="postTopBar clearfix">
    <h2 class="left block">Add a Pledge</h2>
  </div>
  <a class="standardLink minorLink" ui-sref="user.post.add({username: currentUser})">+ add a post</a>
  <div>
    <form name="addPledgeForm" class="addPledgeForm" id="addPledgeForm" novalidate>
      <div class="pledgeForm">
        <p class="formLabel">Pledge:</p>
        #
        <input class="pledgename" name="pledgename" type="text" ng-model="pledge.pledgename" placeholder="pledgename" ng-pattern="pledgenameValidation" required/>
        <span ng-if="addPledgeForm.pledgename.$dirty">
          <span class="validation-error" ng-show="addPledgeForm.pledgename.$error.required">Must include a pledge name</span>
          <span class="validation-error" ng-show="addPledgeForm.pledgename.$error.pattern">It's a hashtag! Keep it short; remove white spaces and random symbols.</span>
        </span>
      </div>

      <button class="btn actionButton" ng-disabled="addPledgeForm.$invalid" ng-click="addPledge()">Pledge it!</button>
      <a class="standardLink" ui-sref="user.profile({username: username})">cancel</a>

    </form>
  </div>

</div>
