<div class="commentContent" ng-init="end=4">
  <div class="commentForm">
    <form ng-submit="usercomment(postId, commentText)" ng-show="collapsed">
      <textarea class="block" form="commentForm" ng-model="commentText" style="border:1px solid #ccc">Comments...</textarea>
      <button class="actionButton" type="submit">Post</button>
    </form>
    <div class="toggleComments">
      <a ng-click="end=comments.length" class="standardLink"><i class="fa fa-plus-circle"></i> More</a>
      <a ng-click="end=4" class="standardLink"><i class="fa fa-minus-circle"></i> Less</a>
    </div>
  </div>
  <comment-post ng-repeat="comment in postComments.slice().reverse() | slice:start:end" username="comment.username" text="comment.text" created="comment.created"></comment-post>
</div>