<div class="feedPledgeDirective clearfix">
  <div class="postTopBar">
    <h2 ui-sref="tab.user.pledge({pledgename:'playpiano'})" class="title username left">{{pledge.pledgeName}}</h2>
    <p class="pledgeMission left">{{pledge.missionStatement}}</p>   
  </div>
  <div class="pledgePreview">
    <img class="coverImg" src="{{pledge.coverImage}}" />
    <div class="pledgePreviewDescBar clearfix">
      <div class="imgThumbs left">
        <img src="{{thumbnail}}" ng-repeat="thumbnail in pledge.images"/>
      </div>
      <div class="textDesc left"> {{pledge.lastDesc}}
      </div>
    </div>
    <button ui-sref="tab.user.pledge({pledgename: 'playpiano'})" class="left button button-small button-positive">View All</button>
  </div>  
</div>
  
