<div>
  <h4 ui-sref="tab.user.pledge({pledgename:'playpiano'})">{{pledge.pledgeName}}</h4>
  <div class="pledgePreview">
    <h3 class="missionStatement">{{pledge.missionStatement}}</h3>
    <img class="coverImg" width="400px" height='200px' src="{{pledge.coverImage}}" />
    <div>
      <div class="imgThumbs">
        <img width="100" height="100" src="{{thumbnail}}" ng-repeat="thumbnail in pledge.images"/>
        <img height="200px" width="200px" class="posts" src="{{post}}" ng-repeat="post in pledgePost" />
      </div>
      <div class="textDesc"> {{pledge.lastDesc}}
      </div>
    </div>
    <button ui-sref="tab.user.pledge({pledgename: 'playpiano'})">View All</button>
  </div>
  
</div>
