<div class="feedPledgeDirective clearfix" ng-init="start=0; end=4;">
  <div class="postTopBar">
    <h2 ui-sref="user.profile({username: post.username})" class="title username left">@{{post.username}}</h2>
    <p class="postDate left">{{post.date}} ago</p>
  </div>
  <img ng-src="{{post.aws_url}}" height="400px" width="400px" />
  <p>{{post.text}}</p>


    <div class="buttonBar clearfix">
      <likes post-id="post.id" likes="post.likes" has-liked="post.hasLiked"></likes>
      <button class="actionButton left" ng-model="collapsed" ng-click="collapsed=!collapsed"><i class="fa fa-comment"></i> comment</button>
      <button ui-sref="user.pledge.view({username: post.username, pledgename: post.pledgename})" class="directButton right">
  View all @{{post.username}}'s posts
      </button>
    </div>

  <comment post-id="post.id" post-comments="post.comments"></comment>

</div>
