<div class="feedPledgeDirective clearfix" ng-init="start=0; end=4;">
  <div class="pledgePreview clearfix">
    <div class="prevImg">
      <img class="coverImg left" ng-src="{{post.aws_url}}"/>
    </div>
    <div class="postInfo left">
      <h2>{{post.title}}</h2>
      <h4 class="date">{{post.created}}</h4>
      <div class="pledgeText">{{post.text}}</div>
    </div>
  </div>
  <div class="buttonBar clearfix">
    <likes post-id="post.id" likes="post.likes" has-liked="post.hasLiked"></likes>
    <button class="actionButton left" ng-show="!loggedIn" ui-sref="login"><i class="fa fa-comment"></i> comment</button>
    <button class="actionButton left" ng-show="loggedIn" ng-model="collapsed" ng-click="collapsed=!collapsed"><i class="fa fa-comment"></i> comment</button>
  </div>

  <comment post-id="post.id" post-comments="post.comments" collapsed="collapsed"></comment>

</div>
