
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* BEGINS COUNT ME IN STYLES */ 

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

a, h1, h2 {
  text-decoration: none;
  cursor: pointer;
}

.hide {
  display:none;
}

.show {
  display:block;
}

.left {
  float:left;
}

.right {
  float:right;
}

button {
  /*margin: 5px 0 !important;*/
}

.actionButton, .directButton {
  border-radius: 2px;
  padding: 6px 8px;
  border: none;
  color: #FFF;
  font-size: 1em !important;
  margin:5px 5px 5px 0;
  cursor: pointer;
}

.actionButton {
  background-color: #F24C27;
  margin-right:10px;
}

.directButton {
  background-color: #037E8C;
}

.standardLink {
  color: #037E8C;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0 !important;
  color: #777;
  background-color: #EEE;
}

.block {
  display:block;
}
.mainContainer {
  width:60%;
  padding:10px;
  margin:0 auto;
}

.feedOption {
  width:100%;
}

.feedOptionButton {
  width:50%;
  padding:10px 20px;
}
.feedPledgeDirective {
  margin: 25px 0;
  border-radius: 3px;
  padding:10px 0;
  background: #FFF;
  box-shadow: 0px 1px 3px #CCC;
}

.feedPledge.item:last-child {
  border-bottom:none;
} 

.directiveHeader {
  border-bottom: 1px solid #888;
  padding: 0 0 0px 0;
}

.directiveHeader > h1{
  font-size: 1.5em;
}

h2.username {
  font-size: 1.2em;
  font-weight:bold;
}

.postTopBar {
  margin: 10px 15px 15px 10px;
}

.postTopBar > h2 {
  width:60%;
  display:inline-block;
  font-size:1.7em;
}

.postTopBar > .postDate {
  width:40%;
  text-align: right;
}

.buttonBar {
  margin: 5px 20px 15px 20px;
  display:block;
}

.toggleComments {
  text-align: center;
  margin: 5px 0;
}

.toggleComments a{
  padding: 0 15px 0 0;
}

.commentContent {
  width:100%;
  margin:5px 0px;
}

.postedComments {
  border-top: 1px solid #CCC;
  padding: 15px 10px;
  /*margin: 0px 20px;*/
}

.commentForm, .postedComments {
  margin: 0px 25px;
}

.commentUser {
  font-size: 1.2em;
  font-weight: bold;
}

.commentTimeStamp {
  color: #AAA;
}

.postedComments > .commentText {
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  color: #666;
  line-height:1.3em;
  display:block;
  margin: 5px 0;
}

.feedImages {
  background-color: #404040;
}

.feedImages > .image {
  width:65%;
}

.feedImages > .image > img {
  width:100%;
  margin-bottom: -2px;
}
.feedImages > .postText {
  font-weight: lighter;
  padding:10px;
  font-size: 1.3em;
  line-height:1.3em;
  width:25%;
  color: #EFEFEF;
  background-color: #404040;
}

.directiveHeader h1 {
  width:70%;
}

.directiveHeader > div.left {
  width:30%;
}

.postTopBar button {
  position:relative;
  bottom:10px;
}

.pledgeMission {
  width: 100%;
}

p.pledgeMission {
  font-size: 1.2em;
  padding: 0px 0 7px 0;
}

.feedImages {
  width:100%;
}

.feedImages img {
  margin-right:10px;
}

img.coverImg {
  width: 100%;
}

.pledgePreviewDescBar {
  width:100%;
}

.pledgePreviewDescBar .imgThumbs {
  max-width:50%;
}

.pledgePreviewDescBar > .imgThumbs > img {
  margin: 5px 10px 5px 0;
  max-width:100px;
  max-height:100px;
}

.pledgePreviewDescBar .textDesc {
  max-width: 50%;
}

.feedPledgeDirective .postDay{
  width:100%;
}

.feedPledgeDirective h4 {
  font-size: 1.5em;
}

.feedPledgeDirective .pledgePostDesc{
  width:100%;
}

.feedPledgeDirective > .pledgePostImg {
  max-width: 60%;
}

.feedPledgeDirective > .pledgePost {
  max-width:40%;
}

.feedPledgeDirective > img {
  margin: 0 10px 0 0;
}

/* Navigation bar*/

nav {
  display: flex;
  justify-content: space-around;
  background-color: #024959;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

nav .fa {
  color: #EFEFEF;
}

/*Upload*/

.upload {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
}

.upload h3 {
  text-align: center;
}

/* Add post */

.addPostForm input[type="file"] {
    display: none;
}

.post-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 50%;
}

/* Forms */
.validation-error {
  font-size: 80%;
  color: red;
}

form .pledgename {
  display: inline;
}

.loading {
  text-align: center;
  color: gray;
}
